body, html {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

#wrapper{
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

#header{
    background-color: #1f2937;
}

#navbar{
    display: flex;
    justify-content: flex-end;
}

#navbar ul li #logo{
    margin-right: auto;
    color: white;
}

#navbar ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

#navbar ul li a{
    text-decoration: none;

}

#hero-div{
    display: flex;
    justify-content: center;
}

#cards-div{
    display: flex;
}

.card{
    flex: 1;
}

#quotebox-div{
    background-color: #e5e7eb;
}

#call-to-action-div{

}

#footer-div{
    background-color: #1f2937;
}