body, html {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

#wrapper{
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

#header{
    background-color: #1f2937;
}

#navbar{
    display: flex;
    justify-content: flex-end;
}

#navbar ul li #logo{
    margin-right: auto;
    color: white;
}

#navbar ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

#navbar ul li a{
    text-decoration: none;

}

#hero-div{
    display: flex;
    justify-content: center;
}

#cards-div{
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    flex: 1;
    justify-content: center;
}

.card-image{
    border: 2px solid blue;
    height: 50px;
    width: 50px;
}

#quotebox-div{
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;

}

#quote{
    width: 100%;
    font-size: 40px;
    display: block;


}

#call-to-action-div{

}

#footer-div{
    background-color: #1f2937;
}